/* styles.css */

/* Home page container */
#home-page {
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Scrolling background effect */
body {
  margin: 0;
  padding: 0;
}

div {
  height: 100vh; /* Full screen height */
  overflow: hidden; /* Hide overflow */
  background-image: url('worldmap.png');
  background-repeat: repeat-x; /* Horizontal scrolling */
  animation: scrollBackground 20s linear infinite;
}

/* Scrolling effect */
@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0; /* Scroll horizontally */
  }
}


#home-page h1 {
  font-size: 2.5em;
  color: #3498db;
  margin-bottom: 20px;
}
#enter-btn {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#enter-btn:hover {
  background-color: #2980b9;
}
/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
