* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('worldmap.png'); /* Background image URL */
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    animation: scrollBackground 30s linear infinite;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -100%;
    }
}
